*{
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

body{
	background-color: #999;
}

p{
	margin: 10px;
	font-size: 20px;
	color: #fff;
}

.topbar{
	background-color: #4D4435;
	color: white;
}
.topbar h3{
	text-align: center;
	text-transform: uppercase;
	padding: 20px;
}

.img img{
	width: 90%;
}

.text{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.img, .text{
	flex: 50%;
	padding: 3%;
}

.product{
	display: flex;
	background-color: #4D4435;
	margin: 3%;
}