*{
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

body{
	background-color: #999;
}

p{
	margin: 10px;
	font-size: 20px;
	color: #fff;
}

.FTitle{
	/*color: purple;*/
	background-color: #555;
	text-align: center;
	padding: 20px 0;
}
.FTitle h1{
	color: #fff;
}

.twocol{
	display: flex;
}

.pu, .bz, .sumpu, .sumbz, .notbonus, .withbonus{
	flex: 1 1 50%;
	text-align: center;
	border: 3px solid #666;
}

#pu, #bz{
	width: 150px;
	border-radius: 10px;
	padding: 3px 5px;
	margin: 10px 1px;
	font-size: 15px
}